# next.js
/.next/
/out/

*.log
addon/extension_group/
agoradns.dat
agorareport.dat
bin/
/BUILD.gn
.cache/
/compile_commands.json
core
crash_context_v1
.deps/
.DS_Store
.env
/.gn
/.gnfiles
include/
interface/
lib64
node_modules/
/out/
*.pcm
.release
session_control.conf.agora
xdump_config
.vscode/
speechsdk/
SpeechSDK-Linux.tar.gz
pyvenv.cfg
xdump_config
.idea