services:
    astra_agents_dev:
        image: ghcr.io/rte-design/astra_agents_build:0.3.6
        container_name: astra_agents_dev
        platform: linux/amd64
        tty: true
        stdin_open: true
        restart: always
        command: "make run-gd-server"
        ports:
            - "${GRAPH_DESIGNER_SERVER_PORT}:${GRAPH_DESIGNER_SERVER_PORT}"
            - "${SERVER_PORT}:${SERVER_PORT}"
        volumes:
            - ./:/app
            - ${LOG_PATH}:${LOG_PATH}
        working_dir: /app
        env_file:
            - .env

    astra_playground_dev:
        image: node:20-alpine
        container_name: astra_playground_dev
        restart: always
        command: sh -c "cd /app/playground && npm i && npm run dev" #build && npm run start"
        ports:
        - "3000:3000"
        volumes:
        - ./:/app
    astra_graph_designer:
        image: agoraio/astra_graph_designer:0.3.0
        container_name: astra_graph_designer
        restart: always
        ports:
            - "3001:3000"
