version: "3.8"

services:
    astra_agents_server:
        image: agoraio/astra_agents_server:latest
        container_name: astra_agents_server
        restart: always
        ports:
            - "8080:8080"
        volumes:
            - /tmp:/tmp
        environment:
            AGORA_APP_ID: <agora_app_id>
            AGORA_APP_CERTIFICATE: <agora_app_certificate>
            AZURE_STT_KEY: <azure_stt_key>
            AZURE_STT_REGION: <azure_stt_region>
            OPENAI_API_KEY: <openai_api_key>
            # TTS vendor: azure/elevenlabs
            TTS_VENDOR_CHINESE: azure
            TTS_VENDOR_ENGLISH: azure
            # if you choose azure, you need to provide the following keys
            AZURE_TTS_KEY: <azure_tts_key>
            AZURE_TTS_REGION: <azure_tts_region>
            # if you choose elevenlabs, you need to provide the following key
            ELEVENLABS_TTS_KEY: <elevenlabs_tts_key>
    astra_playground:
        image: agoraio/astra_playground:latest
        container_name: astra_playground
        restart: always
        ports:
            - "3000:3000"
