version: "3.8"

services:
    astra_agents_server:
        image: agoraio/astra_agents_server:latest
        container_name: astra_agents_server
        restart: always
        ports:
            - "8080:8080"
        volumes:
            - /tmp:/tmp
        environment:
            # Agora App ID and Agora App Certificate
            AGORA_APP_ID: <agora_app_id>
            AGORA_APP_CERTIFICATE: <agora_app_certificate>
            # Azure STT key and region
            AZURE_STT_KEY: <azure_stt_key>
            AZURE_STT_REGION: <azure_stt_region>
            # OpenAI API key
            OPENAI_API_KEY: <openai_api_key>
            # TTS vendor: azure/elevenlabs
            TTS_VENDOR_CHINESE: azure
            TTS_VENDOR_ENGLISH: azure
            # If you choose azure, you need to provide the following Azure STT key and region
            AZURE_TTS_KEY: <azure_tts_key>
            AZURE_TTS_REGION: <azure_tts_region>
            # If you choose elevenlabs, you need to provide the following Elevenlabs TTS key
            ELEVENLABS_TTS_KEY: <elevenlabs_tts_key>
    astra_playground:
        image: agoraio/astra_playground:latest
        container_name: astra_playground
        restart: always
        ports:
            - "3000:3000"
