.setting {
  flex: 0 0 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #272A2F;
  background: #181A1D;


  .description {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid #272A2F;

    .title {
      color: var(--Grey-300, #EAECF0);
      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.449px;
    }

    .text {
      color: var(--Grey-600, #667085);
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }

    .btnConnect {
      display: flex;
      padding: 8px 14px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 6px;
      background: var(--theme-color, #0888FF);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      cursor: pointer;
      user-select: none;
      caret-color: transparent;

      .btnText {
        color: var(---White, #FFF);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .btnText.disconnect {
        color: var(--Error-400-T, #E95C7B);
      }

      .loading {
        margin-left: 4px;
      }
    }


    .btnConnect.disconnect {
      background: #181A1D;
      border: 1px solid var(--Error-400-T, #E95C7B);
    }


  }


  .selectWrapper {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border: 1px solid #272A2F;

    .title {
      color: var(--Grey-300, #EAECF0);
      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.449px;
    }

    .select {
      width: 100%;
    }
  }


}
