.camera {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .select {
    height: 32px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    .text {
      flex: 1 1 auto;
      height: 32px;
      line-height: 32px;
      color: var(--Grey-300, #EAECF0);
      font-weight: 500;
      letter-spacing: 0.449px;
    }

    .iconWrapper {
      flex: 0 0 auto;
      margin-right: 12px;
      display: flex;
      width: 32px;
      height: 32px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid #2B2F36;
      cursor: pointer;
    }

    .select {
      flex: 0 0 auto;
      width: 200px;
    }
  }

  .view {
    position: relative;
    margin-top: 12px;
    min-height: 210px;
    height: 210px;
    border-radius: 6px;
    border: 1px solid #272A2F;
    background: #1E2024;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
}
