* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #0F0F11;
  font-family: "PingFang SC";
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-select-arrow {
  color: #667085 !important;
}


.ant-select-selection-item {
  color: #667085 !important;
}

.ant-select-selector {
  border: 1px solid #d9d9d9 !important;
}

.ant-select-dropdown {
  background-color: #1E2024 !important;
}

.ant-select-item {
  background: #1E2024 !important;
  color: var(--Grey-600, #667085) !important;
}

.ant-select-item-option-selected {
  background: #272A2F !important;
  color: var(--Grey-300, #EAECF0) !important;
}

