.card {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 368px;
  padding: 100px 24px 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #20272D;
  background: linear-gradient(154deg, rgba(31, 69, 141, 0.16) 0%, rgba(31, 69, 141, 0.00) 30%), linear-gradient(153deg, rgba(31, 54, 97, 0.00) 53.75%, #1F458D 100%), rgba(15, 15, 17, 0.10);
  box-shadow: 0px 3.999px 48.988px 0px rgba(0, 7, 72, 0.12);
  backdrop-filter: blur(8.8px);

  .top {
    .github {
      position: absolute;
      right: 24px;
      top: 24px;
      display: flex;
      padding: 4px 8px 4px 4px;
      align-items: center;
      gap: 4px;
      border-radius: 100px;
      border: 1px solid #2B2F36;
      cursor: pointer;

      .text {
        color: var(--Grey-300, #EAECF0);
        font-size: 12px;
        line-height: 150%;
      }
    }
  }

  .content {

    .title {
      color: white;
      font-weight: bold;
      font-size: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text {
        color: var(--Grey-300, #EAECF0);
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 40px;
      }
    }

    .section {

      input {
        display: flex;
        width: 320px;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        display: flex;
        height: 38px;
        padding: 12px 8px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid #2B2F36;
        box-shadow: 0px 4.282px 52.456px 0px rgba(0, 7, 72, 0.12);
        backdrop-filter: blur(13px);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
      }

      .btn {
        display: flex;
        padding: 10px 18px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        background: var(--primary-500-base, #0888FF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        cursor: pointer;

        .btnText {
          color: var(---white, #FFF);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .btnLoadingBg {
        background: var(--primary-500-base, #434343);
      }
    }

    .section+.section {
      margin-top: 24px;
    }

    .version {
      text-align: center;
      margin-top: 32px;
      color: var(--Grey-600, #667085);
      line-height: 22px;
    }

  }
}


.dotting { display: inline-block; width: 10px; min-height: 2px;
          padding-right: 2px;
          border-left: 2px solid currentColor; border-right: 2px solid currentColor;
          background-color: currentColor; background-clip: content-box;
          box-sizing: border-box;
          -webkit-animation: dot 1.5s infinite step-start both;
          animation: dot 1.5s infinite step-start both;
      }
.dotting::before { content: ''; }
:root .dotting { margin-left: 2px; padding-left: 2px; }

@keyframes dot {
    25% { border-color: transparent; background-color: transparent; }
    50% { border-right-color: transparent; background-color: transparent; }
    75% { border-right-color: transparent; }
}