.description {
  position: relative;
  display: flex;
  padding: 12px 16px;
  height: 60px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid #272A2F;
  background: #181A1D;
  box-sizing: border-box;

  .title {
    color: var(--Grey-300, #EAECF0);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    flex: 1 1 auto;
    /* 21px */
    letter-spacing: 0.449px;
  }

  .text {
    margin-left: 12px;
    flex: 1 1 auto;
    color: var(--Grey-600, #667085);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }


  .btnConnect {
    width: 150px;
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--theme-color, #0888FF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    user-select: none;
    caret-color: transparent;
    box-sizing: border-box;

    .btnText {
      color: var(---White, #FFF);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    .btnText.disconnect {
      color: var(--Error-400-T, #E95C7B);
    }

    .loading {
      margin-left: 4px;
    }
  }


  .btnConnect.disconnect {
    background: #181A1D;
    border: 1px solid var(--Error-400-T, #E95C7B);
  }

}
