.header {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #24262A;
  background: #1E2024;
  box-shadow: 0px 12px 16px -4px rgba(8, 15, 52, 0.06), 0px 4px 6px -2px rgba(8, 15, 52, 0.03);
  box-sizing: border-box;
  z-index: 999;

  .logoWrapper {
    display: flex;
    align-items: center;

    .title {
      color: white;
      font-weight: bold;
    }

    .text {
      margin-left: 8px;
      color: var(---white, #FFF);
      text-align: right;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    flex: 1 1 auto;
    color: var(--Grey-300, #EAECF0);
    font-size: 16px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.449px;
    text-align: center;

    .text {
      margin-left: 4px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      display: flex;
    }
  }
  .githubWrapper {
    cursor: pointer;
  }
}
