.colorPicker {
  height: 24px;
  display: flex;
  align-items: center;

  :global(.react-colorful) {
    width: 220px;
    height: 8px;
  }

  :global(.react-colorful__saturation) {
    display: none;
  }

  :global(.react-colorful__hue) {
    border-radius: 8px !important;
    height: 8px;
  }

  :global(.react-colorful__pointer) {
    width: 24px;
    height: 24px;
  }
}
