.info {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;


  .title {
    color: var(--Grey-300, #EAECF0);
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.449px;
  }

  .color {
    font-size: 0;
    white-space: nowrap;

    .item {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 4px;
      border: 2px solid transparent;
      font-size: 0;
      cursor: pointer;

      .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 18px;
        border-radius: 2px;
        box-sizing: border-box;
      }
    }

    .item+.item {
      margin-left: 12px;
    }

  }


}
