.menu {
  width: 100%;
  background: #181A1E;
  border: 1px solid #272A2F;
  box-sizing: border-box;
  border-radius: 4px;

  .menuItem {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: #667085;
    background: #181A1E;
    cursor: pointer;
    border-right: 1px solid #272A2F;
    box-sizing: border-box;
  }

  .active {
    color: #EAECF0;
    background: #0F0F11;
  }
}
