.audioVisualizer {
  display: flex;
  justify-content: center;
  align-items: center;


  .item {}

  .agent {
    background-color: var(--theme-color, #EAECF0);
    box-shadow: 0 0 10px var(--theme-color, #EAECF0);
  }

  .user {
    background-color: var(--Grey-300, #EAECF0);
  }
}
