.chat {
  flex: 1 1 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #272A2F;
  background: #181A1D;
  overflow: hidden;

  .header {
    display: flex;
    height: 42px;
    padding: 0px 16px;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #272A2F;

    .left {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      gap: 5px;

      .text {
        margin-left: 4px;
        color: var(--Grey-300, #EAECF0);
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.449px;
      }

      .languageSelect {
        width: 100px;
      }
    }


    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      flex: 0 0 230px;
      justify-content: right;
    }

  }

  .content {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 200px;
    align-self: stretch;
    overflow-y: auto;


    &::-webkit-scrollbar {
      width: 6px
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6B6B6B;
      border-radius: 4px;
    }
  }


}
