.agent {
  position: relative;
  display: flex;
  padding: 20px 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  background: linear-gradient(154deg, rgba(27, 66, 166, 0.16) 0%, rgba(27, 45, 140, 0.00) 18%), linear-gradient(153deg, rgba(23, 24, 28, 0.00) 53.75%, #11174E 100%), #0F0F11;
  box-shadow: 0px 3.999px 48.988px 0px rgba(0, 7, 72, 0.12);
  backdrop-filter: blur(7);
  box-sizing: border-box;

  .text {
    margin-top: 50px;
    color: var(--theme-color, #EAECF0);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.449px;
  }

  .view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
  }
}
