*.log
addon/extension_group/
addon/extension/agora_rtc
addon/system
agoradns.dat
agorareport.dat
bin/
/BUILD.gn
.cache/
/compile_commands.json
core
crash_context_v1
.deps/
.DS_Store
/.gn
/.gnfiles
include/
interface/
lib/
/out/
*.pcm
.release
session_control.conf.agora
xdump_config
.vscode
