*.log
ten_packages/extension_group/
ten_packages/extension/agora_rtc
ten_packages/extension/azure_tts
ten_packages/extension/agora_sess_ctrl
ten_packages/extension/agora_rtm
ten_packages/extension/py_init_extension_cpp
ten_packages/extension/http_server_python
ten_packages/system/agora_rtc_sdk
ten_packages/system/azure_speech_sdk
ten_packages/system/nlohmann_json
ten_packages/system/ten_runtime*
.ten
agoradns.dat
agorareport.dat
agorartmreport.dat
bin/
/BUILD.gn
.cache/
/compile_commands.json
core
crash_context_v1
.deps/
.DS_Store
/.gn
/.gnfiles
include/
interface/
lib/
/out/
*.pcm
.release
session_control.conf.agora
xdump_config
.vscode
*.pyc
*.pyc.*
/manifest.json
/manifest-lock.json
/property.json
