{
    "type": "app",
    "name": "astra_agents",
    "version": "0.2.0",
    "language": "python",
    "dependencies": [
        {
            "type": "extension_group",
            "name": "default_extension_group",
            "version": "0.2.0"
        },
        {
            "type": "extension",
            "name": "agora_rtc",
            "version": "0.2.1"
        },
        {
            "type": "system",
            "name": "rte_runtime_python",
            "version": "0.2.0"
        }
    ],
    "predefined_graphs": [
        {
            "name": "astra_agents",
            "auto_start": true,
            "nodes": [
                {
                    "type": "extension",
                    "extension_group": "default",
                    "addon": "agora_rtc",
                    "name": "agora_rtc",
                    "property": {
                        "app_id": "<agora_appid>",
                        "token": "<agora_token>",
                        "channel": "astra_agents_test",
                        "stream_id": 1234,
                        "remote_stream_id": 123,
                        "subscribe_audio": true,
                        "publish_audio": true,
                        "publish_data": true,
                        "enable_agora_asr": true,
                        "agora_asr_vendor_name": "microsoft",
                        "agora_asr_language": "en-US",
                        "agora_asr_vendor_key": "<azure_stt_key>",
                        "agora_asr_vendor_region": "<azure_stt_region>",
                        "agora_asr_session_control_file_path": "session_control.conf"
                    }
                },
                {
                    "type": "extension",
                    "extension_group": "bedrock",
                    "addon": "bedrock_llm_python",
                    "name": "bedrock_llm",
                    "property": {
                        "region": "us-east-1",
                        "access_key": "<aws_access_key_id>",
                        "secret_key": "<aws_secret_access_key>",
                        "model": "anthropic.claude-3-5-sonnet-20240620-v1:0",
                        "max_tokens": 512,
                        "prompt": "",
                        "greeting": "ASTRA agent connected. How can i help you today?",
                        "max_memory_length": 10
                    }
                },
                {
                    "type": "extension",
                    "extension_group": "tts",
                    "addon": "azure_tts",
                    "name": "azure_tts",
                    "property": {
                        "azure_subscription_key": "<azure_tts_key>",
                        "azure_subscription_region": "<azure_tts_region>",
                        "azure_synthesis_voice_name": "en-US-JaneNeural"
                    }
                },
                {
                    "type": "extension",
                    "extension_group": "default",
                    "addon": "interrupt_detector_python",
                    "name": "interrupt_detector"
                },
                {
                    "type": "extension_group",
                    "addon": "default_extension_group",
                    "name": "default"
                },
                {
                    "type": "extension_group",
                    "addon": "default_extension_group",
                    "name": "bedrock"
                },
                {
                    "type": "extension_group",
                    "addon": "default_extension_group",
                    "name": "tts"
                }
            ],
            "connections": [
                {
                    "extension_group": "default",
                    "extension": "agora_rtc",
                    "data": [
                        {
                            "name": "text_data",
                            "dest": [
                                {
                                    "extension_group": "default",
                                    "extension": "interrupt_detector"
                                },
                                {
                                    "extension_group": "bedrock",
                                    "extension": "bedrock_llm"
                                }
                            ]
                        }
                    ],
                    "pcm_frame": [
                        {
                            "name": "pcm_frame",
                            "dest": [
                                {
                                    "extension_group": "bedrock",
                                    "extension": "bedrock_llm"
                                }
                            ]
                        }
                    ]
                },
                {
                    "extension_group": "bedrock",
                    "extension": "bedrock_llm",
                    "data": [
                        {
                            "name": "text_data",
                            "dest": [
                                {
                                    "extension_group": "tts",
                                    "extension": "azure_tts"
                                }
                            ]
                        }
                    ],
                    "cmd": [
                        {
                            "name": "flush",
                            "dest": [
                                {
                                    "extension_group": "tts",
                                    "extension": "azure_tts"
                                }
                            ]
                        }
                    ]
                },
                {
                    "extension_group": "tts",
                    "extension": "azure_tts",
                    "pcm_frame": [
                        {
                            "name": "pcm_frame",
                            "dest": [
                                {
                                    "extension_group": "default",
                                    "extension": "agora_rtc"
                                }
                            ]
                        }
                    ],
                    "cmd": [
                        {
                            "name": "flush",
                            "dest": [
                                {
                                    "extension_group": "default",
                                    "extension": "agora_rtc"
                                }
                            ]
                        }
                    ]
                },
                {
                    "extension_group": "default",
                    "extension": "interrupt_detector",
                    "cmd": [
                        {
                            "name": "flush",
                            "dest": [
                                {
                                    "extension_group": "bedrock",
                                    "extension": "bedrock_llm"
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}
