.entry {
  position: relative;
  height: 100%;
  box-sizing: border-box;

  .content {
    position: relative;
    padding: 16px;
    box-sizing: border-box;

    .body {
      margin-top: 16px;
      display: flex;
      gap: 24px;
    }
  }
}
