.entry {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .content {
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    height: calc(100% - 64px);
    flex-direction: column;

    .body {
      margin-top: 8px;
      display: flex;
      gap: 12px;
      flex-grow: 1;

      .chat {
        display: flex;
        flex-grow: 1;
      }
    }
  }
}