.rtc {
  flex: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #272A2F;
  background: #181A1D;
  box-sizing: border-box;

  .header {
    display: flex;
    height: 42px;
    padding: 0px 16px;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #272A2F;

    .text {
      flex: 1 1 auto;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.449px;
      color: var(--Grey-300, #EAECF0);
    }

    .voiceSelect {
      flex: 0 0 120px;
    }
  }

  .you {
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-top: 1px solid #272A2F;

    .title {
      color: var(--Grey-300, #EAECF0);
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.449px;
      text-align: center;
    }


  }
}